In [47]:
# the website we are begining to scrape is: https://www.metoffice.gov.uk/weather/forecast/u10ure55u#?date=2022-07-18

In [48]:
import requests

page = requests.get('https://www.metoffice.gov.uk/weather/forecast/u10ure55u#?date=2022-07-18')
page

In [49]:
# page.content

In [50]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [51]:
# print(soup.prettify())

In [52]:
six_day = soup.find(id = 'dayNav')
forecast_items = six_day.find_all(class_ = 'forecast-tab')
today = forecast_items[0]
# print(today.prettify())

In [53]:
forecast = soup.find_all('tr', class_ = 'step-temp')

In [54]:
# this is the forecast for today, we can change the number in [] for tomorrow = [1] etc

day1 = forecast[0]

In [55]:
day1

<tr class="step-temp" data-type="temp">
<th class="screen-reader-only" scope="row">
<span>Temperature in <span data-full-unit-text="" data-unit-symbol="temp">degrees Celsius</span></span>
</th>
<td data-temp="27">
<div data-value="26.5">27°</div>
</td>
<td data-temp="26">
<div data-value="26.28">26°</div>
</td>
<td data-temp="26">
<div data-value="25.53">26°</div>
</td>
<td data-temp="24">
<div data-value="24.21">24°</div>
</td>
<td data-temp="22">
<div data-value="22.1">22°</div>
</td>
<td data-temp="21">
<div data-value="20.89">21°</div>
</td>
<td data-temp="21">
<div data-value="20.52">21°</div>
</td>
<td data-temp="20">
<div data-value="20.29">20°</div>
</td>
</tr>

In [56]:
day1.select('div')

[<div data-value="26.5">27°</div>,
 <div data-value="26.28">26°</div>,
 <div data-value="25.53">26°</div>,
 <div data-value="24.21">24°</div>,
 <div data-value="22.1">22°</div>,
 <div data-value="20.89">21°</div>,
 <div data-value="20.52">21°</div>,
 <div data-value="20.29">20°</div>]

In [57]:
day1.select('div')[0]

In [58]:
hour = day1.select('div')[0].get_text()

In [59]:
print(hour)

27°

In [60]:
# now I need to try and get all of the temp values from today 

today_tags = day1.select('div')
today = [tt.get_text() for tt in today_tags]
today

['27°', '26°', '26°', '24°', '22°', '21°', '21°', '20°']

## Now I am going to get temperatures for the following 6 days

In [61]:
day2 = forecast[1]

In [62]:
day2_tags = day2.select('div')
day2_ = [tt.get_text() for tt in day2_tags]
day2_

['20°',
 '20°',
 '20°',
 '19°',
 '19°',
 '19°',
 '19°',
 '19°',
 '20°',
 '21°',
 '21°',
 '22°',
 '23°',
 '23°',
 '23°',
 '24°',
 '23°',
 '23°',
 '23°',
 '22°',
 '21°',
 '21°',
 '20°',
 '20°']

In [63]:
# further out the forecast the fewer the temperatures 

day3 = forecast[2]

day3_tags = day3.select('div')
day3_ = [tt.get_text() for tt in day3_tags]
day3_

['20°', '19°', '19°', '19°', '21°', '21°', '21°', '20°', '19°']

In [64]:
day4 = forecast[3]

day4_tags = day4.select('div')
day4_ = [tt.get_text() for tt in day4_tags]
day4_

['19°', '18°', '18°', '20°', '21°', '22°', '21°', '19°']

In [65]:
day5 = forecast[4]

day5_tags = day5.select('div')
day5_ = [tt.get_text() for tt in day5_tags]
day5_

['18°', '18°', '18°', '20°', '22°', '23°', '22°', '19°']

In [66]:
day6 = forecast[5]

day6_tags = day6.select('div')
day6_ = [tt.get_text() for tt in day6_tags]
day6_

['18°', '16°', '16°', '19°', '21°', '21°', '20°', '18°']

In [67]:
day7 = forecast[6]

day7_tags = day7.select('div')
day7_ = [tt.get_text() for tt in day7_tags]
day7_

['17°', '16°', '15°', '17°', '20°', '20°', '19°', '18°']

## lets try and do the above as a loop

In [68]:
# this is all the foreasts on the website 

# to not really stress the website when I am scraping 

# I am going to impoort time and set it to sleep for a certain amout of seconds 

# ie import time, then use 'time.sleep(3)' as an example at the end of my loops

In [69]:
import time

In [70]:
day_list = ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
day = day_list
d = 0
n = 0

while n < 7:
    day_list[d] = forecast[n]
    
    day_tags = day_list[d].select('div')
    day_ = [tt.get_text() for tt in day_tags]
    day_list[d] = day_
    
    print(day_list[d])
    
    n += 1
    d += 1
    time.sleep(2)

['27°', '26°', '26°', '24°', '22°', '21°', '21°', '20°']
['20°', '20°', '20°', '19°', '19°', '19°', '19°', '19°', '20°', '21°', '21°', '22°', '23°', '23°', '23°', '24°', '23°', '23°', '23°', '22°', '21°', '21°', '20°', '20°']
['20°', '19°', '19°', '19°', '21°', '21°', '21°', '20°', '19°']
['19°', '18°', '18°', '20°', '21°', '22°', '21°', '19°']
['18°', '18°', '18°', '20°', '22°', '23°', '22°', '19°']
['18°', '16°', '16°', '19°', '21°', '21°', '20°', '18°']
['17°', '16°', '15°', '17°', '20°', '20°', '19°', '18°']

## now I want to put this data into a dataframe

In [71]:
import pandas as pd
import numpy as np

In [72]:
# I need to union all of these: day_list[0], day_list[1] and so on 

day_list[0]

['27°', '26°', '26°', '24°', '22°', '21°', '21°', '20°']

In [73]:
dfs = [day_list[0], day_list[1], day_list[2], day_list[3], day_list[4], day_list[5], day_list[6]]

In [74]:
future_temp = pd.DataFrame(columns=['in_days_time','min','max'])
future_temp

Empty DataFrame
Columns: [in_days_time, min, max]
Index: []

In [75]:
future_temp

Empty DataFrame
Columns: [in_days_time, min, max]
Index: []

In [76]:
# now I have a table to work with, I should fill it with the min and max predictions

In [77]:
future_temp.set_index('in_days_time', inplace = True)

In [78]:
# I need to use the following syntax to fill it in:

max(dfs[0])

'27°'

In [79]:
min(dfs[0])

'20°'

In [80]:
future_temp['min'] = [min(dfs[0]), min(dfs[1]), min(dfs[2]), min(dfs[3]), min(dfs[4]), min(dfs[5]), min(dfs[6])]

future_temp['max'] = [max(dfs[0]), max(dfs[1]), max(dfs[2]), max(dfs[3]), max(dfs[4]), max(dfs[5]), max(dfs[6])]

In [81]:
future_temp

              min  max
in_days_time
0             20°  27°
1             19°  24°
2             19°  21°
3             18°  22°
4             18°  23°
5             16°  21°
6             15°  20°

In [82]:
future_temp.dtypes

min    object
max    object
dtype: object

In [83]:
future_temp['min'] = future_temp['min'].map(lambda x: str(x)[:-1])

In [84]:
future_temp['max'] = future_temp['max'].map(lambda x: str(x)[:-1])

In [85]:
future_temp['min'] = future_temp['min'].astype('int')
future_temp['max'] = future_temp['max'].astype('int')

In [86]:
future_temp.dtypes

min    int32
max    int32
dtype: object

In [87]:
future_temp

              min  max
in_days_time
0              20   27
1              19   24
2              19   21
3              18   22
4              18   23
5              16   21
6              15   20

In [88]:
# now I want to be able to run this script every week and make sure my index is correct 

# how can I do this:

# going to schedule every week to run on windows task scheduler 

# going to make it create a .csv each time

In [89]:
f = 0

future_temp.to_csv(f"future_temp{f}.csv")