In [58]:
# the website we are begining to scrape is: https://www.metoffice.gov.uk/weather/forecast/u10ure55u#?date=2022-07-18

In [59]:
import requests

page = requests.get('https://www.metoffice.gov.uk/weather/forecast/u10ure55u#?date=2022-07-18')
page

In [60]:
# page.content

In [61]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [62]:
# print(soup.prettify())

In [63]:
six_day = soup.find(id = 'dayNav')
forecast_items = six_day.find_all(class_ = 'forecast-tab')
today = forecast_items[0]
# print(today.prettify())

In [64]:
forecast = soup.find_all('tr', class_ = 'step-temp')

In [65]:
# this is the forecast for today, we can change the number in [] for tomorrow = [1] etc

day1 = forecast[0]

In [66]:
day1

<tr class="step-temp" data-type="temp">
<th class="screen-reader-only" scope="row">
<span>Temperature in <span data-full-unit-text="" data-unit-symbol="temp">degrees Celsius</span></span>
</th>
<td data-temp="19">
<div data-value="19.06">19°</div>
</td>
<td data-temp="18">
<div data-value="18.22">18°</div>
</td>
<td data-temp="18">
<div data-value="17.85">18°</div>
</td>
<td data-temp="18">
<div data-value="17.55">18°</div>
</td>
<td data-temp="17">
<div data-value="17.33">17°</div>
</td>
<td data-temp="17">
<div data-value="17.27">17°</div>
</td>
<td data-temp="17">
<div data-value="17.33">17°</div>
</td>
</tr>

In [67]:
day1.select('div')

[<div data-value="19.06">19°</div>,
 <div data-value="18.22">18°</div>,
 <div data-value="17.85">18°</div>,
 <div data-value="17.55">18°</div>,
 <div data-value="17.33">17°</div>,
 <div data-value="17.27">17°</div>,
 <div data-value="17.33">17°</div>]

In [68]:
day1.select('div')[0]

In [69]:
hour = day1.select('div')[0].get_text()

In [70]:
print(hour)

19°

In [71]:
# now I need to try and get all of the temp values from today 

today_tags = day1.select('div')
today = [tt.get_text() for tt in today_tags]
today

['19°', '18°', '18°', '18°', '17°', '17°', '17°']

## Now I am going to get temperatures for the following 6 days

In [72]:
day2 = forecast[1]

In [73]:
day2_tags = day2.select('div')
day2_ = [tt.get_text() for tt in day2_tags]
day2_

['17°',
 '18°',
 '18°',
 '18°',
 '18°',
 '18°',
 '18°',
 '18°',
 '18°',
 '19°',
 '19°',
 '19°',
 '20°',
 '20°',
 '20°',
 '20°',
 '20°',
 '19°',
 '19°',
 '19°',
 '19°',
 '19°',
 '18°',
 '18°']

In [74]:
# further out the forecast the fewer the temperatures 

day3 = forecast[2]

day3_tags = day3.select('div')
day3_ = [tt.get_text() for tt in day3_tags]
day3_

['18°', '18°', '18°', '18°', '20°', '20°', '20°', '19°', '17°']

In [75]:
day4 = forecast[3]

day4_tags = day4.select('div')
day4_ = [tt.get_text() for tt in day4_tags]
day4_

['17°', '16°', '17°', '21°', '22°', '23°', '22°', '20°']

In [76]:
day5 = forecast[4]

day5_tags = day5.select('div')
day5_ = [tt.get_text() for tt in day5_tags]
day5_

['19°', '19°', '18°', '21°', '22°', '23°', '23°', '20°']

In [77]:
day6 = forecast[5]

day6_tags = day6.select('div')
day6_ = [tt.get_text() for tt in day6_tags]
day6_

['19°', '19°', '19°', '20°', '22°', '22°', '22°', '20°']

In [78]:
day7 = forecast[6]

day7_tags = day7.select('div')
day7_ = [tt.get_text() for tt in day7_tags]
day7_

['19°', '19°', '19°', '20°', '22°', '23°', '22°', '21°']

## lets try and do the above as a loop

In [79]:
# this is all the foreasts on the website 

# to not really stress the website when I am scraping 

# I am going to impoort time and set it to sleep for a certain amout of seconds 

# ie import time, then use 'time.sleep(3)' as an example at the end of my loops

In [80]:
import time

In [81]:
day_list = ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7']
day = day_list
d = 0
n = 0

while n < 7:
    day_list[d] = forecast[n]
    
    day_tags = day_list[d].select('div')
    day_ = [tt.get_text() for tt in day_tags]
    day_list[d] = day_
    
    print(day_list[d])
    
    n += 1
    d += 1
    time.sleep(2)

['19°', '18°', '18°', '18°', '17°', '17°', '17°']
['17°', '18°', '18°', '18°', '18°', '18°', '18°', '18°', '18°', '19°', '19°', '19°', '20°', '20°', '20°', '20°', '20°', '19°', '19°', '19°', '19°', '19°', '18°', '18°']
['18°', '18°', '18°', '18°', '20°', '20°', '20°', '19°', '17°']
['17°', '16°', '17°', '21°', '22°', '23°', '22°', '20°']
['19°', '19°', '18°', '21°', '22°', '23°', '23°', '20°']
['19°', '19°', '19°', '20°', '22°', '22°', '22°', '20°']
['19°', '19°', '19°', '20°', '22°', '23°', '22°', '21°']

## now I want to put this data into a dataframe

In [82]:
import pandas as pd

In [83]:
# I need to union all of these: day_list[0], day_list[1] and so on 

day_list[0]

['19°', '18°', '18°', '18°', '17°', '17°', '17°']

In [84]:
dfs = [day_list[0], day_list[1], day_list[2], day_list[3], day_list[4], day_list[5], day_list[6]]

In [85]:
# still need to work on this: 

future = ['today', 'tomorrow', 'in 2 days', 'in 3 days', 'in 4 days', 'in 5 days', 'in 6 days']

n = 0
d = 0
p = 0

while n < 7:
    forecast_temp = pd.DataFrame({
    'time' : future[p],
    'temperature': day_list[d]
})
    n += 1
    d += 1
    p += 1

forecast_temp

        time temperature
0  in 6 days         19°
1  in 6 days         19°
2  in 6 days         19°
3  in 6 days         20°
4  in 6 days         22°
5  in 6 days         23°
6  in 6 days         22°
7  in 6 days         21°